.service {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center;
    background-size: cover;
    height: 310px;
    max-width: 476px;
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
   
}

.service:hover {

    & .service-content {
        max-height: 300px;
    }
    
}

.service-background {
    position: absolute;
    height: 120%;
    width: auto;
}

.service-content {
    position: absolute;
    width: 92%;
    max-height: 10%;
    overflow: hidden;
    background-color: #285075;
    opacity: 0.85;
    padding: 20px 30px;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.service-content h2 {
    font-size: 28px;
}

// custom setings - children
.service-gimnastika .service-content h2 {
    font-size: 24px;
    line-height: 32px;
}

.service-ofp .service-content h2 {
    font-size: 23px;
    line-height: 33px;
}
// ./custom setings

.service-content p {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 300;
}

.service-content a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.service-content a:hover {
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 400px) {

    .service {
        height: 210px;
    }

    .service-content {
        max-height: 5%;
        padding: 10px 15px;
    }

    .service-content h2,
    .service-content p,
    .service-content a {
        font-size: 80% !important;
    }

    // custom setings - children
    .service-gimnastika .service-content h2 {
        line-height: 12px;
    }

    .service-ofp .service-content h2 {
        line-height: 13px;
    }
    // ./custom setings

}
