// Contacts
.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts span {
    margin: 10px 0 0 0;
}

.footer-addres, .footer-phone {
    white-space: nowrap;
    user-select: text;
    display: flex;
    margin: 10px 0;
    font-size: 15px;
}

.footer-addres img, .footer-phone img {
    padding: 0 10px 0 5px;
}

.footer-socials {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 140px;
    margin: 35px 0 0 0;
}

.footer-socials p {
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    justify-self: center;
    margin: 0 6px 13px 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.85);
}

.footer-socials-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    & a:nth-child(2) img {
        height: 24px;
    }
}

@media screen and (max-width: 750px) {

    .footer-contacts {
        align-items: center;
    }

    .footer-socials {
        margin-top: 25px;
    }

    .footer-socials p {
        margin-left: 0;
    }

}