body {
  margin: 0;
  font-family: 'Ubuntu' ; 
  min-width: 320px;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 3000px;
}

* {
  padding: 0;
  margin: 0;
}