.contacts-socials-items {
    margin: 12px 0 6px;
}

.contacts-socials {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 180px;
}

.contacts-socials h2 {
    color: rgb(0, 0, 0);
    white-space: nowrap;
    justify-self: center;
}

.contacts-socials-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    & a img {
        height: 40px;
        margin-top: 2px;
    }

    & a:nth-child(2) img {
        height: 35px;
        margin-top: 7px;
    }
    
}

@media screen and (max-width: 1440px) {
   
    .contacts-socials {
        max-width: 130px;
    }

    .contacts-socials-items {
        & a img {
            height: 30px;
            margin-top: 2px;
        }
    
        & a:nth-child(2) img {
            height: 25px;
            margin-top: 4px;
        }
        
    }

}

